{% extends 'base.html' %}
{% load static %}
{% block title %}
    About
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock head %}
{% block body %}
<div class="logo">
    <img src="/static/img/Brain Analyse-logos.jpeg" alt="Brain Analyse" height="80px" width="80px">
</div>
<div class="information">
    <p>In our academics we got marks and judge by our rote learning and I think that rote learning is useless if we can’t use it as practically so that’s why in today’s scenario people thinking that the data storage in your mind is a only kind of knowledge, how much data the person kept in his/her mind is considered as a more knowledgeable person but I think it’s not like that , Human psychology tells human behaviour . How is he thinks and act. This test will test human psychology </p>
    <p>So this website is all about to judge your personality according to your perception .</p>
</div>
<div class="devimg">
    <img src="/static/img/myimg.jpg" alt="Aryan Khokhar" width="200px">
</div>
<div class="devname">
    <h3>Aryan Khokhar</h3>
</div>
<div class="devinfo">
    <h3>B.Tech CSE(DS) NIET </h3>
</div>
<div class="devyear">
    <h3>2nd year</h3>
</div>
{% endblock body %}

{% block footer %}
<div class="status">
    <div class="statusword">
        <p>You can interact and give feedback to the developer personaly in that site</p>
    </div>
<div class="statusimg">
    <div class="image">
        <ul>
            <span class="i1"><li><a href="https://www.instagram.com/aryan_khokhar07/" target="_blank"><img src="/static/img/instagram.png" alt="Aryan Khokhar" height="20px" >@Aryan_Khokhar</a></li></span>
            <span class="i1"><li><a href="https://www.linkedin.com/in/aryan-khokhar" target="_blank"><img src="/static/img/linkedin.png" alt="Aryan Khokhar" height="20px" >@Aryan_Khokhar</a></li></span>
            <span class="i1"><li><a href="https://www.twitter.com/AryanKh09703279" target="_blank"><img src="/static/img/twitter.png" alt="Aryan Khokhar" height="20px" >@Aryan_Khokhar</a></li></span>
            <!-- <span class="i1"><li><a href="#"><img src="/static/img/linkedin.png" alt=""></a></li></span> -->
        </ul>
    </div>
</div>
</div>
{% endblock footer %}
    